<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
  <header>
    <h1 style="margin:8px 0;">Coder E-commerce</h1>
    <nav>
      <a href="/products">Productos</a>
    </nav>
    <hr/>
  </header>
  {{{body}}}
</body>
</html>